.otp-input {
  width: 90%;
  margin: auto;
  text-align: center;
}

.otp-text {
  margin: 30px 0;
  color: #fff;
  font-size: 16px;
}
.input_otp {
  width: 80%;
  margin: auto;
}
.input_otp input {
  width: 13%;
  margin: 1%;
  float: left;
}
.sendAgain {
  margin: 30px 0;
  color: #fff;
  font-size: 14px;
  display: inline-block;
}
