<div class="bg1">
  <div class="container login-page">
    <img src="../../../assets/driver-login.jpg" alt="" class="logo" /><br />
    <h1>Log In</h1>
    <h3>Start earning with GOTHI</h3>
    <form  class="containerForm">
      <div class="contentForm">
        <div class="floating-label-group">
          <input type="text" id="nickname"  autocomplete="off" class="form-control" autocomplete="off" autofocus required />
          <label class="floating-label">Enter Phone Number</label>
        </div>
        <div class="floating-label-group">
          <input type="password" id="nickname" name="password" autocomplete="off" class="form-control" autocomplete="off" autofocus required />
          <label class="floating-label">Password</label>
        </div>
        <div class="forgret-pass">Forgot Password?</div>
        <button class="buttonLogin" type="submit">
          <span>Log In</span>
        </button>
      </div>
    </form>
  </div>
</div>