<div class="finding-ride">
	<div class="map">
		<img src="../../../assets/mapLocation.png" alt="">
	</div>
	<div class="find-ride">
		<div>Finding Ride....</div>
		<div>Driver Found this time</div>
		<button  [routerLink]="['/trip/finding-ride']">Cancel</button>
	</div>
	<!-- <div class="ride-info">
		<div class="greetings">Good Morning, Sakhwath</div>
		<div class="where-to">Where To?</div>
		<div class="history">
			<a href="#">
				Recent Location History
				<span>Current location address here.</span>
				<img src="../../../assets/arrow-right.png" >
			</a>
			<a href="#">
				Recent Location History
				<span>Current location address here.</span>
				<img src="../../../assets/arrow-right.png" >
			</a>
		</div>
		<div class="ride-type">
			<span>Finding Ride....</span>
			<span>Driver Found this time</span>
		</div>
	</div> -->
</div>