.register {
  width: 90%;
  margin: auto;
  text-align: center;
}
.gender {
  border: 1px solid #ff2b5d;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  line-height: 30px;
  font-size: 16px;
  margin: 5px 0;
  background: #fff;
}
.gender label {
  font-size: 13px;
  padding-right: 5px;
  margin-left: 3px;
}
