<ion-content scroll-y="true">
<form class="containerForm form-register">
  <div class="steps">
    <ul role="tablist">
      <li role="tab" class="first current"><a  href="#"><span class="current-info audible"></span><span class="title">1</span></a></li>
      <li role="tab"><a  href="#"><span class="title">2</span></a></li>
      <li role="tab"><a  href="#"><span class="title">3</span></a></li>
      <li class="last"><a href="#" ><span class="title">4</span></a></li>
    </ul>
    </div>
  <div class="container register">    
    <div class="form-title">Partner Information</div>
    <div class="list">
      <div class="floating-label-group">
        <input
          type="text"
          id="fullname"
          class="form-control"
          autocomplete="off"
          autofocus
          required
        />
        <label class="floating-label">Full Name*</label>
      </div>
      <div class="floating-label-group">
        <input
          type="text"
          id="nickname"
          class="form-control"
          autocomplete="off"
          autofocus
          required
        />
        <label class="floating-label">Nick Name*</label>
      </div>
      <div class="floating-label-group">
        <input
          type="text"
          id="email"
          class="form-control"
          autocomplete="off"
          autofocus
          required
        />
        <label class="floating-label">Email*</label>
      </div>
      <div class="list">
        <div class="gender" >
          <span >Select Gender* &nbsp;&nbsp; </span>
          <input  type="radio" name="Male" value="Male" ><label >Male</label>
          <input type="radio" name="Female" value="Female"> <label>Female</label>
          <input type="radio" name="Others" value="Others"><label>Others</label>
        </div>
      </div>
      <div class="floating-label-group select">
        <select  id="email"  class="form-control">
          <option value="1">Select City</option>
          <option value="1">Dhaka</option>
          <option value="1">Chattagam</option>
        </select>
        <label class="floating-label">Select City</label>
      </div>
      <div class="floating-label-group">
        <input
          type="text"
          id="nid"
          class="form-control"
          autocomplete="off"
          autofocus
          required
        />
        <label class="floating-label">NID</label>
      </div>
    </div>
    <button type="submit">Next Step</button>


    <div class="form-title">Partner Information</div>
    <div class="list">
      <div class="floating-label-group">
        <input
          type="password"
          id="password"
          class="form-control"
          autocomplete="off"
          autofocus
          required
        />
        <label class="floating-label">Set Password*</label>
      </div>
      <div class="floating-label-group">
        <input
          type="password"
          id="password"
          class="form-control"
          autocomplete="off"
          autofocus
          required
        />
        <label class="floating-label">Retype Password*</label>
      </div>
      <div class="floating-label-group">
        <input
          type="text"
          id="email"
          class="form-control"
          autocomplete="off"
          autofocus
          required
        />
        <label class="floating-label">Agent ID*</label>
      </div>
      
      <div class="floating-label-group">
        <input
          type="text"
          id="email"
          class="form-control"
          autocomplete="off"
          autofocus
          required
        />
        <label class="floating-label">Driving License No*</label>
      </div>
      <div class="list">
        <div class="gender" >
          <span >Select One* &nbsp;&nbsp; </span>
          <input  type="radio" name="Male" value="Male" ><label >I have a vehicle</label>
          <input type="radio" name="Female" value="Female"> <label>I have no vehicle</label>
        </div>
      </div>
      <div class="upload-file">
        <div class="upload-item">Upload your photo</div>
        <div class="upload-item">Driving license</div>
      </div>
    </div>
    <button type="submit">Next Step</button>

  </div>
</form>
</ion-content>
